$api-id: '08f2a575dda978b9c539199e54df03b0';
:export {
    apiKey: $api-id;
 }

$color-heading-additional: #a1a099;
 
$content-width: 1320px;
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;