.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;  
    
  @include media-tablet {
      min-height: 80px;
      font-size: 72px;        
    }
}
  
  .date {
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
  }
